@import "./caido.css";
@import "./primevue.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'highlight.js/styles/github.css' screen;
@import 'highlight.js/styles/github.css' screen and (prefers-color-scheme: dark);
@import "marked-admonition-extension/dist/index.css";
@import "github-markdown-css/github-markdown.css";

h1 {
    @apply text-2xl;
}

#NoteTree input {
    width: 100%;
}

#markdownView ul {
    list-style-type: circle;
}

@media (prefers-color-scheme: dark) {
    .hljs {
        color: white;
        mix-blend-mode: plus-lighter;
    }
}

.markdown-body pre code {
    text-wrap: wrap !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
}


#markdownWrapper {
    text-wrap: wrap;
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}