@import "./caido.css";
@import "./primevue.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'highlight.js/styles/github.css';
@import "marked-admonition-extension/dist/index.css";
@import "github-markdown-css/github-markdown.css";

#NoteTree input {
    width: 100%;
}

#markdownView ul {
    list-style-type: circle;
}

.hljs {
    color: white;
}