@import "./caido.css";
@import "./primevue.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'highlight.js/styles/github.css';
@import "marked-admonition-extension/dist/index.css";
@import "github-markdown-css/github-markdown.css";

@media print {
    body {
        visibility: hidden !important;
    }
    #markdownView {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}